<div class="container">
	<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
		<h2>Editing a user</h2>
		
		<input type="text" name="name" value="<%= user.name %>" class="form-control"/>
		<input type="text" name="email" value="<%= user.email %>" class="form-control"/>
		<input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
	</form>
</div>